{{/*  This is the home page  */}}
{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    {{ $recipesPages := .Site.GetPage "section" "recipes" }}
    {{ $paginator := .Paginate $recipesPages.RegularPages }}

    <main class="latest-recipes">
        {{ range $paginator.Pages.GroupByDate "Jan 2006" }}
            <div class="latest-recipes-year">{{ .Key }}</div>
            <hr>
            <div class="latest-recipes-group">
                <ul class="latest-recipes-list">
                    {{ range .Pages }}
                        <li class="latest-recipe">
                            <div class="latest-recipe-thumb">
                                <a href="{{.Permalink}}">
                                    {{ partial "smart-img.html" (dict "Page" . "IsThumb" true) }}
                                </a>
                            </div>
                            <div class="latest-recipe-info">
                                <a href="{{.Permalink}}" class="latest-recipe-info-title">{{.Title}}</a>
                                <div class="latest-recipe-info-summary">{{.Params.description | markdownify}}</div>
                            </div>
                        </li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}
    {{ partial "pagination-list.html" . }}
    </main>
{{ end }}

